@import './beam_sass/beam'

main
  @include row-centered

.items
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: stretch
  text-align: center

.item
  @include row-centered
  padding: 5px 10px
  font-size: 18px
  border: black 3px solid
  border-radius: 12px
  height: 40px
  min-width: 120px
  max-width: 250px

.method-form
  font-size: 20px

.method-input
  max-width: 60px